<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.app.mapper.customer.EntCustomerInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.fintecher.app.model.customer.EntCustomerInfo" >
    <id column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="cust_num" property="custNum" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="idcard_num" property="idcardNum" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="idcard_address" property="idcardAddress" jdbcType="VARCHAR" />
    <result column="marry_status" property="marryStatus" jdbcType="SMALLINT" />
    <result column="residence_type" property="residenceType" jdbcType="SMALLINT" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="is_student" property="isStudent" jdbcType="SMALLINT" />
    <result column="educational_type" property="educationalType" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="work_type" property="workType" jdbcType="VARCHAR" />
    <result column="vacation_type" property="vacationType" jdbcType="VARCHAR" />
    <result column="work_unit" property="workUnit" jdbcType="VARCHAR" />
    <result column="work_position" property="workPosition" jdbcType="VARCHAR" />
    <result column="work_tel" property="workTel" jdbcType="VARCHAR" />
    <result column="work_address" property="workAddress" jdbcType="VARCHAR" />
    <result column="work_detail_address" property="workDetailAddress" jdbcType="VARCHAR" />
    <result column="work_province_id" property="workProvinceId" jdbcType="VARCHAR" />
    <result column="work_province_name" property="workProvinceName" jdbcType="VARCHAR" />
    <result column="work_city_id" property="workCityId" jdbcType="VARCHAR" />
    <result column="work_city_name" property="workCityName" jdbcType="VARCHAR" />
    <result column="work_area_id" property="workAreaId" jdbcType="VARCHAR" />
    <result column="work_area_name" property="workAreaName" jdbcType="VARCHAR" />
    <result column="include" property="include" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="auth_status" property="authStatus" jdbcType="SMALLINT" />
    <result column="realname_verify" property="realnameVerify" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="app_alias" property="appAlias" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cust_id, company_code, cust_num, real_name, idcard_num, sex, nation, age, idcard_address,
    marry_status, residence_type, house_type, address, detail_address, province_id, province_name,
    city_id, city_name, area_id, area_name, is_student, educational_type, email, work_type,
    vacation_type, work_unit, work_position, work_tel, work_address, work_detail_address,
    work_province_id, work_province_name, work_city_id, work_city_name, work_area_id,
    work_area_name, include, nick_name, head_img, auth_status, realname_verify, create_time,
    update_time,app_alias
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from ent_customer_info
    where cust_id = #{custId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ent_customer_info
    where cust_id = #{custId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.fintecher.app.model.customer.EntCustomerInfo" >
    insert into ent_customer_info (cust_id, company_code, cust_num,
    real_name, idcard_num, sex,
    nation, age, idcard_address,
    marry_status, residence_type, house_type,
    address, detail_address, province_id,
    province_name, city_id, city_name,
    area_id, area_name, is_student,
    educational_type, email, work_type,
    vacation_type, work_unit, work_position,
    work_tel, work_address, work_detail_address,
    work_province_id, work_province_name, work_city_id,
    work_city_name, work_area_id, work_area_name,
    include, nick_name, head_img,
    auth_status, realname_verify, create_time,
    update_time)
    values (#{custId,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{custNum,jdbcType=VARCHAR},
    #{realName,jdbcType=VARCHAR}, #{idcardNum,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT},
    #{nation,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{idcardAddress,jdbcType=VARCHAR},
    #{marryStatus,jdbcType=SMALLINT}, #{residenceType,jdbcType=SMALLINT}, #{houseType,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR},
    #{provinceName,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR},
    #{areaId,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{isStudent,jdbcType=SMALLINT},
    #{educationalType,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{workType,jdbcType=VARCHAR},
    #{vacationType,jdbcType=VARCHAR}, #{workUnit,jdbcType=VARCHAR}, #{workPosition,jdbcType=VARCHAR},
    #{workTel,jdbcType=VARCHAR}, #{workAddress,jdbcType=VARCHAR}, #{workDetailAddress,jdbcType=VARCHAR},
    #{workProvinceId,jdbcType=VARCHAR}, #{workProvinceName,jdbcType=VARCHAR}, #{workCityId,jdbcType=VARCHAR},
    #{workCityName,jdbcType=VARCHAR}, #{workAreaId,jdbcType=VARCHAR}, #{workAreaName,jdbcType=VARCHAR},
    #{include,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR},
    #{authStatus,jdbcType=SMALLINT}, #{realnameVerify,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.fintecher.app.model.customer.EntCustomerInfo" >
    insert into ent_customer_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="custNum != null" >
        cust_num,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="idcardNum != null" >
        idcard_num,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="idcardAddress != null" >
        idcard_address,
      </if>
      <if test="marryStatus != null" >
        marry_status,
      </if>
      <if test="residenceType != null" >
        residence_type,
      </if>
      <if test="houseType != null" >
        house_type,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="isStudent != null" >
        is_student,
      </if>
      <if test="educationalType != null" >
        educational_type,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="workType != null" >
        work_type,
      </if>
      <if test="vacationType != null" >
        vacation_type,
      </if>
      <if test="workUnit != null" >
        work_unit,
      </if>
      <if test="workPosition != null" >
        work_position,
      </if>
      <if test="workTel != null" >
        work_tel,
      </if>
      <if test="workAddress != null" >
        work_address,
      </if>
      <if test="workDetailAddress != null" >
        work_detail_address,
      </if>
      <if test="workProvinceId != null" >
        work_province_id,
      </if>
      <if test="workProvinceName != null" >
        work_province_name,
      </if>
      <if test="workCityId != null" >
        work_city_id,
      </if>
      <if test="workCityName != null" >
        work_city_name,
      </if>
      <if test="workAreaId != null" >
        work_area_id,
      </if>
      <if test="workAreaName != null" >
        work_area_name,
      </if>
      <if test="include != null" >
        include,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="headImg != null" >
        head_img,
      </if>
      <if test="authStatus != null" >
        auth_status,
      </if>
      <if test="realnameVerify != null" >
        realname_verify,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="appAlias != null" >
        app_alias,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="custNum != null" >
        #{custNum,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcardNum != null" >
        #{idcardNum,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="idcardAddress != null" >
        #{idcardAddress,jdbcType=VARCHAR},
      </if>
      <if test="marryStatus != null" >
        #{marryStatus,jdbcType=SMALLINT},
      </if>
      <if test="residenceType != null" >
        #{residenceType,jdbcType=SMALLINT},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="isStudent != null" >
        #{isStudent,jdbcType=SMALLINT},
      </if>
      <if test="educationalType != null" >
        #{educationalType,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=VARCHAR},
      </if>
      <if test="vacationType != null" >
        #{vacationType,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null" >
        #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="workPosition != null" >
        #{workPosition,jdbcType=VARCHAR},
      </if>
      <if test="workTel != null" >
        #{workTel,jdbcType=VARCHAR},
      </if>
      <if test="workAddress != null" >
        #{workAddress,jdbcType=VARCHAR},
      </if>
      <if test="workDetailAddress != null" >
        #{workDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="workProvinceId != null" >
        #{workProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="workProvinceName != null" >
        #{workProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="workCityId != null" >
        #{workCityId,jdbcType=VARCHAR},
      </if>
      <if test="workCityName != null" >
        #{workCityName,jdbcType=VARCHAR},
      </if>
      <if test="workAreaId != null" >
        #{workAreaId,jdbcType=VARCHAR},
      </if>
      <if test="workAreaName != null" >
        #{workAreaName,jdbcType=VARCHAR},
      </if>
      <if test="include != null" >
        #{include,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="authStatus != null" >
        #{authStatus,jdbcType=SMALLINT},
      </if>
      <if test="realnameVerify != null" >
        #{realnameVerify,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appAlias != null" >
        #{appAlias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fintecher.app.model.customer.EntCustomerInfo" >
    update ent_customer_info
    <set >
      <if test="companyCode != null" >
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="custNum != null" >
        cust_num = #{custNum,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcardNum != null" >
        idcard_num = #{idcardNum,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="idcardAddress != null" >
        idcard_address = #{idcardAddress,jdbcType=VARCHAR},
      </if>
      <if test="marryStatus != null" >
        marry_status = #{marryStatus,jdbcType=SMALLINT},
      </if>
      <if test="residenceType != null" >
        residence_type = #{residenceType,jdbcType=SMALLINT},
      </if>
      <if test="houseType != null" >
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="isStudent != null" >
        is_student = #{isStudent,jdbcType=SMALLINT},
      </if>
      <if test="educationalType != null" >
        educational_type = #{educationalType,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        work_type = #{workType,jdbcType=VARCHAR},
      </if>
      <if test="vacationType != null" >
        vacation_type = #{vacationType,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null" >
        work_unit = #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="workPosition != null" >
        work_position = #{workPosition,jdbcType=VARCHAR},
      </if>
      <if test="workTel != null" >
        work_tel = #{workTel,jdbcType=VARCHAR},
      </if>
      <if test="workAddress != null" >
        work_address = #{workAddress,jdbcType=VARCHAR},
      </if>
      <if test="workDetailAddress != null" >
        work_detail_address = #{workDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="workProvinceId != null" >
        work_province_id = #{workProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="workProvinceName != null" >
        work_province_name = #{workProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="workCityId != null" >
        work_city_id = #{workCityId,jdbcType=VARCHAR},
      </if>
      <if test="workCityName != null" >
        work_city_name = #{workCityName,jdbcType=VARCHAR},
      </if>
      <if test="workAreaId != null" >
        work_area_id = #{workAreaId,jdbcType=VARCHAR},
      </if>
      <if test="workAreaName != null" >
        work_area_name = #{workAreaName,jdbcType=VARCHAR},
      </if>
      <if test="include != null" >
        include = #{include,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="authStatus != null" >
        auth_status = #{authStatus,jdbcType=SMALLINT},
      </if>
      <if test="realnameVerify != null" >
        realname_verify = #{realnameVerify,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cust_id = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fintecher.app.model.customer.EntCustomerInfo" >
    update ent_customer_info
    set company_code = #{companyCode,jdbcType=VARCHAR},
      cust_num = #{custNum,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      idcard_num = #{idcardNum,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      nation = #{nation,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      idcard_address = #{idcardAddress,jdbcType=VARCHAR},
      marry_status = #{marryStatus,jdbcType=SMALLINT},
      residence_type = #{residenceType,jdbcType=SMALLINT},
      house_type = #{houseType,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      is_student = #{isStudent,jdbcType=SMALLINT},
      educational_type = #{educationalType,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      work_type = #{workType,jdbcType=VARCHAR},
      vacation_type = #{vacationType,jdbcType=VARCHAR},
      work_unit = #{workUnit,jdbcType=VARCHAR},
      work_position = #{workPosition,jdbcType=VARCHAR},
      work_tel = #{workTel,jdbcType=VARCHAR},
      work_address = #{workAddress,jdbcType=VARCHAR},
      work_detail_address = #{workDetailAddress,jdbcType=VARCHAR},
      work_province_id = #{workProvinceId,jdbcType=VARCHAR},
      work_province_name = #{workProvinceName,jdbcType=VARCHAR},
      work_city_id = #{workCityId,jdbcType=VARCHAR},
      work_city_name = #{workCityName,jdbcType=VARCHAR},
      work_area_id = #{workAreaId,jdbcType=VARCHAR},
      work_area_name = #{workAreaName,jdbcType=VARCHAR},
      include = #{include,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      auth_status = #{authStatus,jdbcType=SMALLINT},
      realname_verify = #{realnameVerify,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where cust_id = #{custId,jdbcType=VARCHAR}
  </update>

  <select id="customerInfoMapper" resultType="java.lang.Integer" parameterType="map" >
    select COUNT(id) as notRead
    from ent_message_send_detail
    where msg_send_type = '1'
    and have_read = 1
    <if test="custId!=null and custId!=''">
      and customer_id = #{custId}
    </if>
    <if test="companyCode!=null and companyCode!=''">
      and company_code = #{companyCode}
    </if>
  </select>
  <update id="updateCustomerAppAliasById" parameterType="map">
    update ent_customer_info
      set app_alias = #{appAlias,jdbcType=VARCHAR}
      WHERE cust_id = #{custId,jdbcType=VARCHAR}
  </update>
</mapper>