<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.system.mapper.EntContractTempletMapper" >
  <resultMap id="BaseResultMap" type="cn.fintecher.system.model.EntContractTemplet" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="contract_type" property="contractType" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, contract_type, company_code, create_user, create_time, update_user, update_time, 
    status,content,version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ent_contract_templet
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ent_contract_templet
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.fintecher.system.model.EntContractTemplet" >
    insert into ent_contract_templet (id, title, contract_type, 
      company_code, create_user, create_time, 
      update_user, update_time, status, 
      content,version)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{contractType,jdbcType=VARCHAR}, 
      #{companyCode,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, 
      #{content,jdbcType=LONGVARCHAR}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.fintecher.system.model.EntContractTemplet" >
    insert into ent_contract_templet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="contractType != null" >
        contract_type,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="version !=null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="version !=null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fintecher.system.model.EntContractTemplet" >
    update ent_contract_templet
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null" >
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="version !=null">
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fintecher.system.model.EntContractTemplet" >
    update ent_contract_templet
    set title = #{title,jdbcType=VARCHAR},
      contract_type = #{contractType,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=SMALLINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <!--查询数据列表-->
  <select id="findList" parameterType="Map" resultType="Map">
    select t.id, t.title, t.company_code companyCode,
    t.create_user createUser, t.create_time createTime, t.update_user updateUser, t.update_time updateTime,
    t.status,t.content,t.version,b.detail_name contractType
    from ent_contract_templet t
    left join sys_dict_detail b
    on t.contract_type = b.detail_code
    where  t.company_code = #{companyCode} and t.company_code = b.company_code
    <if test="null!=contractType and ''!=contractType">
      and t.contract_type = #{contractType}
    </if>
    <if test="null!=title and ''!=title">
      and t.title   like CONCAT('%',#{title},'%')
    </if>
    <if test="null!=status">
      and t.status =#{status}
    </if>
  </select>

  <select id="getProtocol" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ent_contract_templet
    where status=1
    and company_code = #{companyCode}
    and contract_type in
    <foreach collection="list" item="contractType" open="(" close=")"
             separator=",">
      #{contractType}
    </foreach>
  </select>
</mapper>