<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fintecher.manager.mapper.EntOrganizationMapper" >
  <resultMap id="BaseResultMap" type="cn.fintecher.manager.model.EntOrganization" >
    <id column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="parent_org_id" property="parentOrgId" jdbcType="VARCHAR" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_manager" property="orgManager" jdbcType="VARCHAR" />
    <result column="org_tel" property="orgTel" jdbcType="VARCHAR" />
    <result column="org_short_tel" property="orgShortTel" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="org_type" property="orgType" jdbcType="SMALLINT" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="org_path" property="orgPath" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    org_id, parent_org_id, company_code, org_name, org_code, org_manager, org_tel, org_short_tel, 
    status, org_type, create_user, create_time, update_user, update_time, org_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ent_organization
    where org_id = #{orgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ent_organization
    where org_id = #{orgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.fintecher.manager.model.EntOrganization" >
    insert into ent_organization (org_id, parent_org_id, company_code, 
      org_name, org_code, org_manager, 
      org_tel, org_short_tel, status, 
      org_type, create_user, create_time, 
      update_user, update_time, org_path
      )
    values (#{orgId,jdbcType=VARCHAR}, #{parentOrgId,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgManager,jdbcType=VARCHAR}, 
      #{orgTel,jdbcType=VARCHAR}, #{orgShortTel,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{orgType,jdbcType=SMALLINT}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{orgPath,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.fintecher.manager.model.EntOrganization" >
    insert into ent_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="parentOrgId != null" >
        parent_org_id,
      </if>
      <if test="companyCode != null" >
        company_code,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgManager != null" >
        org_manager,
      </if>
      <if test="orgTel != null" >
        org_tel,
      </if>
      <if test="orgShortTel != null" >
        org_short_tel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orgType != null" >
        org_type,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="orgPath != null" >
        org_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="parentOrgId != null" >
        #{parentOrgId,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgManager != null" >
        #{orgManager,jdbcType=VARCHAR},
      </if>
      <if test="orgTel != null" >
        #{orgTel,jdbcType=VARCHAR},
      </if>
      <if test="orgShortTel != null" >
        #{orgShortTel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=SMALLINT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgPath != null" >
        #{orgPath,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fintecher.manager.model.EntOrganization" >
    update ent_organization
    <set >
      <if test="parentOrgId != null" >
        parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null" >
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgManager != null" >
        org_manager = #{orgManager,jdbcType=VARCHAR},
      </if>
      <if test="orgTel != null" >
        org_tel = #{orgTel,jdbcType=VARCHAR},
      </if>
      <if test="orgShortTel != null" >
        org_short_tel = #{orgShortTel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="orgType != null" >
        org_type = #{orgType,jdbcType=SMALLINT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgPath != null" >
        org_path = #{orgPath,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.fintecher.manager.model.EntOrganization" >
    update ent_organization
    set parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_manager = #{orgManager,jdbcType=VARCHAR},
      org_tel = #{orgTel,jdbcType=VARCHAR},
      org_short_tel = #{orgShortTel,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      org_type = #{orgType,jdbcType=SMALLINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      org_path = #{orgPath,jdbcType=LONGVARCHAR}
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fintecher.manager.model.EntOrganization" >
    update ent_organization
    set parent_org_id = #{parentOrgId,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_manager = #{orgManager,jdbcType=VARCHAR},
      org_tel = #{orgTel,jdbcType=VARCHAR},
      org_short_tel = #{orgShortTel,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      org_type = #{orgType,jdbcType=SMALLINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      org_path = #{orgPath,jdbcType=LONGVARCHAR}
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
</mapper>